
input {
  width: 250px;
  height: 30px;
  border: 2px solid rgb(220, 220, 220);
  border-radius: 5px;
  
  
  margin: 10px 10px 10px 10px;
  background-color: #e6ebe0;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    width: 50vw;
    background-color:#E0D8DE;
    border: 2px solid transparent;
    border-radius: 10px;
    
    
}
body{
    background-color: #4B3B47;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;

}
a{
    text-decoration: none;

}
#new{
    display: flex;
    justify-content: center;
    align-items: center;

}
#forgot{
    margin-bottom: 10px;
}
button{
    width: 10vw;
    background-color: #e6ebe0;
    border: 2px solid transparent;
    border-radius: 5px;
    color: #6A6262;
}
.big{
    margin-bottom: 50px;
    font-size: larger;
    color: #e6ebe0;
    display: flex;
    width: 100%;
    justify-content: center;
    
    

}
#but{
    background-color: rgb(158, 158, 158);
    

    width: 40px;
    height: 20px;
    border-radius: 15px;
    margin-left: 5px;
    
    border: 2px solid rgb(218, 218, 218);

}
.but2{
    display: flex;
    margin-left: 50px;

}
p{
    margin: 0;

}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid #4B3B47;
    border-radius: 5px;
}
